  .footer {
      padding: 120px 0px;
      background-color: $footer__bg;
      color: $bg;
      &__logo {
          text-align: center;
          display: none;
      }
      &__items {
          display: flex;
          justify-content: space-between;
      }
      &__item {
          &-title {
              font-weight: 500;
              font-style: normal;
              font-size: 20px;
              line-height: 23px;
              margin-bottom: 24px;
              cursor: pointer;
          }
          &-lists {
              list-style-type: none;
              font-weight: normal;
              font-size: 20px;
              line-height: 23px;
              cursor: pointer;
          }
          &-list+.footer__item-list {
              margin-top: 24px;
          }
          &-link {
              text-decoration: none;
              color: $bg;
          }
      }
      &__info {
          font-weight: normal;
          margin-top: 64px;
          font-size: 14px;
          line-height: 16px;
      }
  }
  
  @media (max-width: 980px) {
      .footer {
          padding: 80px 0;
      }
  }
  
  @media (max-width: 768px) {
      .footer {
          padding: 40px 0;
          &__item {
              &-title {
                  font-size: 18px;
                  line-height: 20px;
              }
              &-lists {
                  font-size: 16px;
                  line-height: 18px;
              }
          }
      }
  }
  
  @media (max-width: 500px) {
      .footer__item:nth-child(3) {
          text-align: end;
      }
  }
  
  @media (max-width: 360px) {
      .footer {
          padding: 40px 0;
          &__logo {
              display: block;
              margin-bottom: 40px;
              &-link {
                  background-image: url('../images/sprites.svg');
                  width: 98px;
                  cursor: pointer;
                  background-color: transparent;
                  background-position: 182px 159px;
                  height: 19px;
                  border: none;
                  outline: none;
                  display: inline-block;
              }
          }
          &__item {
              &:last-child .footer__item-title:first-child {
                  margin-right: 0;
              }
              &-title {
                  font-size: 15px;
                  line-height: 18px;
                  text-decoration: underline;
                  margin-bottom: 0;
                  margin-right: 16px;
              }
              &-lists {
                  display: none;
              }
          }
          &__items {
              justify-content: center;
          }
          &__info {
              text-align: center;
              font-size: 12px;
              line-height: 14px;
              margin-top: 32px;
          }
      }
  }