@import './variables.scss';
@import './global.scss';
.header {
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 196px;
    }
}

.logo__img-link {
    background-image: url('../images/sprites.svg');
    width: 250px;
    cursor: pointer;
    background-color: transparent;
    background-position: 394px 410px;
    height: 40px;
    border: none;
    outline: none;
}

.nav {
    display: flex;
    align-items: center;
    &__items {
        margin-right: 48px;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        &-user {
            display: flex;
            align-items: center;
        }
    }
    &__item {
        display: flex;
        list-style-type: none;
        position: relative;
        & li+li {
            margin-left: 24px;
        }
        &-link {
            text-decoration: none;
            color: $bg;
            padding-bottom: 12px;
        }
        & li a:hover {
            border-bottom: 4px solid $color_hover;
            transition: all .3s ease;
        }
        &-btn {
            background-image: url('../images/sprites.svg');
            width: 32px;
            cursor: pointer;
            background-color: transparent;
            background-position: 348px 226px;
            height: 32px;
            border: none;
            outline: none;
        }
    }
}

.user__item {
    &-link {
        margin-left: 24px;
        background-image: url('../images/sprites.svg');
        width: 40px;
        cursor: pointer;
        background-color: transparent;
        background-position: 232px 290px;
        height: 40px;
        border: none;
        outline: none;
    }
    &-burger {
        display: none;
        background-image: url(../images/sprites.svg);
        width: 123px;
        height: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.signin {
    width: 400px;
    height: 365px;
    border: 1px solid $border;
    background: $bg;
    margin: 0 auto;
    padding: 36px 40px;
    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $title_sign;
        margin-bottom: 25px;
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        margin-top: 15px;
        max-width: 320px;
        height: 70px;
        & label {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            color: $sign_label;
        }
        & input {
            margin-top: 10px;
            background: $bg;
            border: 2px solid $border;
            border-radius: 8px;
            width: 320px;
            height: 40px;
        }
        &-btn {
            background-color: $btn_bg !important;
            padding: 8px 120px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            height: 48px !important;
            color: $bg;
            &:hover {
                background-color: $color_hover !important;
            }
        }
    }
}

@media (max-width: 980px) {
    .header {
        min-height: 1000px;
    }
    .header__top {
        margin-bottom: 150px;
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 800px;
    }
    .nav {
        margin-right: 35px;
        &__items {
            display: none;
        }
    }
    .user__item-burger {
        background-image: url('../images/sprites.svg');
        cursor: pointer;
        background-color: transparent;
        background-position: 524px 278px;
        border: none;
        outline: none;
        display: inline-block;
        width: 24px;
        height: 16px;
        margin-left: 16px;
    }
}

@media (max-width: 500px) {
    .header__top {
        align-items: center;
        margin-bottom: 50px;
    }
    .logo__img-link {
        width: 210px;
    }
    .nav {
        margin-right: 0;
    }
    .signin {
        width: 320px;
        &__item {
            & input {
                width: 280px;
            }
            &-btn {
                padding: 8px 100px;
            }
        }
    }
}

@media (max-width: 430px) {
    .logo__img-link {
        width: 122px;
        height: 24px;
        background-position: 362px 163px;
    }
}

@media (max-width: 360px) {
    .header {
        padding: 30px 10px 40px;
        min-height: 535px;
        &__top {
            margin-bottom: 40px;
            flex-direction: row;
        }
    }
    .logo__img-link {
        width: 122px;
        height: 24px;
        background-position: 362px 163px;
    }
    .nav {
        margin-top: 0px;
        &__item {
            display: none;
            &-img {
                width: 16px;
                height: 16px;
            }
        }
    }
    .user__item-link {
        margin-left: 16px;
    }
    .user__item-img {
        width: 24px;
        height: 24px;
    }
    .nav__item-btn {
        margin-right: -10px;
    }
    .user__item-burger {
        display: block;
        background-image: url('../images/sprites.svg');
        cursor: pointer;
        background-color: transparent;
        background-position: 524px 278px;
        border: none;
        outline: none;
        display: inline-block;
        width: 24px;
        height: 16px;
        margin-left: 16px;
    }
}