* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'Open Sans',
  sans-serif; */
  font-family: 'Roboto',
  sans-serif;
}
.container {
  max-width: 1262px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  padding: 50px 120px;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 196px;
}
.logo__img-link {
  background-image: url('../images/sprites.svg');
  width: 250px;
  cursor: pointer;
  background-color: transparent;
  background-position: 394px 410px;
  height: 40px;
  border: none;
  outline: none;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__items {
  margin-right: 48px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.nav__item {
  display: flex;
  list-style-type: none;
  position: relative;
}
.nav__item li + li {
  margin-left: 24px;
  /* padding-bottom: 12px; */
}
.nav__item-link {
  text-decoration: none;
  color: #fff;
}
.nav__item-link:hover {
  border-bottom: 4px solid #F5BD41;
  padding-bottom: 12px;
}
.nav__items-user {
  display: flex;
  align-items: center;
}
.nav__item-btn {
  background-image: url('../images/sprites.svg');
  width: 32px;
  cursor: pointer;
  background-color: transparent;
  background-position: 348px 226px;
  height: 32px;
  border: none;
  outline: none;
}
.user__item-link {
   margin-left: 24px;
   background-image: url('../images/sprites.svg');
   width: 40px;
   cursor: pointer;
   background-color: transparent;
   background-position: 232px 230px;
   height: 40px;
   border: none;
   outline: none;
}
.user__item-link:hover {
  background-position: 232px 290px;
}
.user__item-burger {
  display:none;
}
.user__item-burger {
  background-color:transparent;
  border:none;
  cursor: pointer;
}
.title {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: left;
  max-width: 542px;
  color: #fff;
  margin-bottom: 100px;
}
.order__block {
  margin-bottom: 24px;
}

.main__board {
  max-width: 1232px;
  background-color: #fff;
  border-radius: 0px 8px 8px 0px;
  max-height: 64px;
}

.block__inner {
  display: flex;
}
.input__name-text {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #fff;
  width: 455px;
  margin-left: 20px;
  margin-bottom: 24px;
  display:inline-block;
}
.input__date-text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  width: 220px;
  margin-bottom: 24px;
  display:inline-block;
  text-align: center;
}
input {
  padding: 22px 20px;
  color: #383838;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  border:none;
  border-radius: 8px;
}
input:focus {
  border: 3px solid #F5BD41;
  border-radius: 8px;
  outline: none;
  padding: 20px 20px;
}
.input__name {
 width: 455px;
 text-align: left;
 border-radius: 8px 0 0 8px;
 }
.input__date {
  text-align: center;
  width: 265px;
  border-radius: 0 0 0 0;
  padding: 19.5px 21px;
}
.input__count {
  text-align: center;
  width: 315px;
  border-radius: 0 0 0 0;
}
.order__block-btn {
  padding: 20px 61px;
  background: #3077C6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border:none;
  color: #FFFFFF;
  cursor: pointer;
}
.order__block-media {
  display: none;
}
.download__info {
  text-align: center;
  margin-top: 120px;
}
.download__info-links {
  margin-right: 16px;
}
.offer {
  padding: 120px 0;
  background-color: #fff;
  color: #383838;
}
.offer__title {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 20px;
  position: relative;
}
.offer__title::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
  bottom: 0;
  right: 50%;
  margin-right: -50px;
  /* transform: translateX(50%); */
}
.offer__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 80px;
  align-items: flex-end
}
.offer__item {
  width: 296px;
  align-items: center;
}
.offer__item1 {
  background-image: url('../images/sprites.svg');
  width: 75px;
  cursor: pointer;
  background-color: transparent;
  background-position: 519px 526px;
  height: 92px;
  border: none;
  outline: none;
  max-width: 296px;
  display: inline-block;
}
.offer__item2 {
  background-image: url('../images/sprites.svg');
  width: 83.33px;
  cursor: pointer;
  background-color: transparent;
  background-position: 404px 522px;
  height: 83.33px;
  border: none;
  outline: none;
  display: inline-block;
}
.offer__item3 {
  background-image: url('../images/sprites.svg');
  width: 100px;
  cursor: pointer;
  background-color: transparent;
  background-position: 284px 514px;
  height: 66.67px;
  border: none;
  outline: none;
  display: inline-block;
}
.offer__item4 {
  background-image: url('../images/sprites.svg');
  width: 91.67px;
  cursor: pointer;
  background-color: transparent;
  background-position: 168px 527px;
  height: 83.33px;
  border: none;
  outline: none;
  display: inline-block;
}
.offer__item-text {
  margin-top: 48px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.footer {
  padding: 120px 0px;
  background-color: #10367C;
  color: #fff;
}
.footer__logo {
  text-align: center;
  display: none;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__item-title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 24px;
  cursor: pointer;
}
.footer__item-lists {
  list-style-type: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}
.footer__item-list +.footer__item-list {
  margin-top: 24px;
}
.footer__item-link {
  text-decoration: none;
  color: #fff;
}
.footer__info {
  font-weight: normal;
  margin-top: 64px;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 360px) {
  .header {
    padding: 30px 10px 40px;
    min-height: 535px;
  }
  .header__top {
    margin-bottom: 40px;
  }
  .logo__img-link {
    width: 122px;
    height: 24px;
    background-position: 362px 163px;
  }
  .nav__item {
    display:none;
  }
 .user__item-link {
   margin-left: 16px;
 }
  .nav__item-img {
    width: 16px;
    height: 16px;
  }
  .user__item-img {
    width: 24px;
    height: 24px;
  }
  .user__item-burger {
    background-image: url('../images/sprites.svg');
    cursor: pointer;
    background-color: transparent;
    background-position: 524px 278px;
    border: none;
    outline: none;
    display:inline-block;
    width: 24px;
    height: 16px;
    margin-left: 16px;
  }
  .title {
    margin-bottom: 31px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    max-width: 328px;
    margin-bottom: 30px;
  }
  .order__block {
    display: none;
  }
  .main__board {
    display: none;
  }
  .order__block-media {
    display: block;
    width: 100%;
    min-height: 232px;
    background: #F5BD41;
    border: 4px solid #F5BD41;
  }
  .input__name-media {
    background: #fff;
    border-radius: 4px;
    padding: 14px 36px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    display: block;
  }
  .input__name-media::placeholder {
    color:#383838;
  }
  .check__date {
    display: flex;
    justify-content: space-between;
  }
  .input__checkin-media {
    margin-top: 8px;
    background: #fff;
    border-radius: 4px;
    padding: 14px 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 95%;
  }
  .input__checkin-media::placeholder {
    color: #383838;
  }
  .input__checkout-media {
    margin-top: 8px;
    background: #fff;
    border-radius: 4px;
    padding: 14px 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }
  .input__checkout-media::placeholder {
    color: #383838;
  }
  .input__Allmaininfo {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  .input__Allmaininfo input{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 14px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  .input__Allmaininfo input::placeholder{
    color: #383838;
  }
  input:focus {
    border: none;
  }
  .order__media-btn {
    padding: 10px 57px;
    background: #3077C6;
    border-radius: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    border:none;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
  }
  .download__info {
    display:flex;
    justify-content: center;
    margin-top: 35px;
  }
  .offer {
    padding: 24px 0 40px;
  }
  .offer__title {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 0;
    margin-bottom: 32px;
  }
  .offer__title::after {
    display: none;
  }
  .offer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .offer__item {
    margin-top: 32px;
  }
  .offer__item-text {
    margin-top: 16px;
    font-size: 15px;
    line-height: 18px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__logo {
    display: block;
    margin-bottom: 40px;
  }
  .footer__logo-link {
    background-image: url('../images/sprites.svg');
    width: 98px;
    cursor: pointer;
    background-color: transparent;
    background-position: 182px 159px;
    height: 19px;
    border: none;
    outline: none;
    display: inline-block;
  }
  .footer__item-title {
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    margin-bottom: 0;
  }
  .footer__item-title {
    margin-right: 16px;
  }
  .footer__items {
   justify-content: center;
  }
  .footer__item:last-child .footer__item-title:first-child {
    margin-right: 0;
  }
  .footer__item-lists {
    display: none;
  }
  .footer__info {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-top: 32px;
  }
}