$color_hover: #F5BD41;
$bg:#fff;
$homes_bg: #EAF0F9;
$btn_bg: #3077C6;
$btn_color: #383838;
$footer__bg: #10367C;
$signup__bg: #EAF0F9;
$homes_txt: #BFBFBF;
$border: #CECECE;
$title_sign: #000000;
$sign_label: #333333;